body

/* Text style */
{
	font: 15px/30px "Raleway", sans-serif;
	margin:0;

}

.container
{
	width: 960px;
	margin: 0 auto;
}

/* Collapsing header */
.header
{
	height: 100px;
	top: 0px;
	width: 100%;
	z-index: 10;
	position: fixed;
	background: #fff;
	border-bottom: solid thin #ccc;
}

.logo
{
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size:20px;
	color: #0022B7;
}

#wrapper
{	
	width: 1040px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 100px;
	word-break:keep-all;
}

